@linkColor: #727272;


@navTitle: #AFAFAF;
@navDescription: #828080;
@searchBoxBorder: #828080;
@searchBoxBackground: #DADADA;
@searchBoxBackgroundActive: #fff;
@searchBoxPlaceholder: #767676;
@footerColor: #828080;
@pageLinkColor: #767676;
@navTitleText: #C9CACC;
@gradientColor: rgba(0,0,0,0.4);
@contentBackground: @pageBackground;


@pageBackground: #1C1E1F;
@navBackground: #232526;
@borderColor: #262829;
@categoryColor: #828080;
@categoryActiveColor: #E4E4E4;
@categoryActiveBackground: #0BAF76;
@titleLinkColor: #0BAF76;

@subjectTextColor: #c9cacc;

@archivedTooltipColor: #fff;

:root{
  --search-box-active: @searchBoxBackgroundActive;
  --search-box-inactive: @searchBoxBackground;
}