@linkColor: #727272;


@navTitle: #AFAFAF;
@navDescription: #828080;
@searchBoxBorder: #828080;
@searchBoxBackground: #DADADA;
@searchBoxPlaceholder: #767676;
@footerColor: #828080;
@pageLinkColor: #767676;
@navTitleText: #C9CACC;
@gradientColor: rgba(0,0,0,0.7);
@contentBackground: @pageBackground;


@pageBackground: #1C1E1F;
@navBackground: #232526;
@borderColor: #262829;
@categoryColor: #828080;
@categoryActiveColor: #E4E4E4;
@categoryActiveBackground: #EB9000;
@titleLinkColor: #c9cacc;