@linkColor: #727272;
@linkColorHover: #fff;

@navTitle: #AFAFAF;
@navDescription: #828080;
@searchBoxBorder: #4d4d4d;
@searchBoxBackground: #404142;
@searchBoxBackgroundActive: #fff;
@searchBoxPlaceholder: #767676;
@footerColor: #828080;
@pageLinkColor: #767676;
@pageLinkColorHover: #fff;
@navTitleText: #C9CACC;
@gradientColor: rgba(0,0,0,0.5);
@contentBackground: @pageBackground;

@pageBackground: #1C1E1F;
@navBackground: #232526;
@borderColor: #262829;
@categoryColor: #828080;
@categoryColorHover: #fff;
@categoryBgColorHover: #005336;
@categoryActiveColor: #E4E4E4;
@categoryActiveBackground: #0BAF76;
@titleLinkColor: #0BAF76;

@subjectTextColor: #c9cacc;

@readMoreColor: #9f9f9f;
@readMoreColorHover: @subjectTextColor;

@archivedTooltipColor: #fff;

@postTitleColor: @titleLinkColor;

@contentLinkColor: #0BAF76;
@contentLinkColorHover: #08FCA8;
@contentH2: #059362;
@contentH2Decoration: #3b3b3b;

@navTableOfContentColor: @categoryColor;
@navTableOfContentColorHover: #fff;
@navContentListColorNumber: #666666;
@navContentListColor: #a1a1a1;
@navContentListColorActive: #fff;
@navContentListColorHover: #fff;

:root{
  --search-box-active: @searchBoxBackgroundActive;
  --search-box-inactive: @searchBoxBackground;
}