@import "./nav.less";
@import "./index.less";
@import "./color.less";
@import "./archived.less";
@import "./post.less";
@blankPadding: 30px;
@responsiveThreshold: 765px;
a{
  color: @linkColor;
  text-decoration: underline dashed;
}

a:not([class]):hover{
  filter: brightness(200%);
}

.container{
  position: relative;
  width: calc(100% - @navWidth);
  margin-left: @navWidth;
  pointer-events: auto;
  background-color: @contentBackground;
  padding-top: 50px;
}

/* Fix for mobile browsers which 100vh contains browser address bar */
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-rendering: geometricPrecision;
  font-family: Arial,x-locale-body,sans-serif;
}

body{
  background: @pageBackground;
  margin-top: -1em;
}

.pager{
  display: flex;
  flex-wrap: wrap;
}

.pager div a {
  transition: filter 0.3s;
}

.pager-arrow{
  font-weight: 800;
}

.pager span:not([class]){
  font-weight: 600;
  color: #c9cacc;
}

.pager a{
  text-decoration: none;
  text-transform: uppercase;
  color: #0BAF76;
  font-weight: 600;
}

.pager a:hover{
  filter: none;
}

.pager-pre{
  flex: 1 1 140px;
  text-align: left;
}

.pager-num{
  flex: 1 1 80px; 
  text-align: center;
}

.pager-next{
  flex: 1 1 140px; 
  text-align: right;
}

@media (max-width: @responsiveThreshold) {
  .container{
    padding-top: 70px;
  }
}
