@import "./nav/nav.less";
@import "./index/index.less";
@import "./color.less";
@import "./archived/archived.less";


@responsiveThreshold: 765px;
a{
  color: @linkColor;
  text-decoration: underline dashed;;
}

.container{
  position: relative;
  width: calc(100% - @navWidth);
  margin-left: @navWidth;
  pointer-events: auto;
  background-color: @contentBackground;
  margin-top: 0;
  padding-top: 30px;
}

/* Fix for mobile browsers which 100vh contains browser address bar */
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body{
  background: @pageBackground;
  margin-top: -1em;
  text-rendering: geometricPrecision;
}

@media (max-width: @responsiveThreshold) {
  .container{
    padding-top: 60px;
  }
}
